@import 'variables';

.header-box {
    padding: 100px 15px 300px;
    position: relative;
    z-index: 10;
    height: calc(100vh - 100px);
    max-height: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 1080px) {
        padding-bottom: 0;
        height: auto;
    }

    .header-elements {
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        position: relative;
        z-index: 10;

        .element {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .title {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;

                .box-c {
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    span {
                        font-size: clamp(24px, 5vw, 110px);
                        font-family: $impact_font;
                        text-transform: uppercase;
                    }

                    .logo-title {
                        width: 7vw;
                        max-width: 150px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                @media (max-width: 800px) {

                    .box-c {
                        flex-direction: column;

                        span {
                            font-size: 40px;
                        }

                        .logo-title {
                            width: 20vw;
                            height: 20vw;
                        }
                    }
                }
            }
        }
    }

    .header-footer {
        width: 100%;
        position: absolute;
        z-index: 1;
        bottom: -200px;
        img {
            width: 100%;
            height: auto;
        }
    }
}

.box-container-column {
    &.reverse {
        background: url('/storage/source/background/fill-black-short.9c5f6aa.svg') no-repeat;
        overflow: hidden;
    }

    &.no-reverse {
        background: url('/storage/source/background/fill-black-short.9c5f6aa-reverse.svg') no-repeat;
        overflow: hidden;
    }

    width: 100%;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: relative;
    z-index: 100;
    max-width: 1920px;
    margin: 0 auto;
    padding: 200px 0 0;
}

.gap-position {
    display: flex;
    flex-direction: column;
    gap: 300px;

    @media (max-width: 1080px) {
        gap: 100px;
    }
}

.about-box {
    position: relative;
    z-index: 10;
    height: 100%;

    .content-el {
        position: relative;
        z-index: 10;

        .element {
            position: relative;
            z-index: 100;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            height: fit-content;
            min-height: 400px;
            overflow: hidden;
            padding: var(--var-vertical-padding) var(--var-horizontal-padding);
            max-width: 1300px;
            // background:linear-gradient(230deg, transparent 640px, var(--lemon) 0);
            background: linear-gradient(225deg, transparent 150px, var(--lemon) 0);

            .text-container {
                z-index: 10;
                width: 100%;
                position: relative;
                z-index: 15;
                max-width: 1000px;
                padding: 25px;

                p {
                    font-size: 48px;
                    font-family: $impact_font;
                }
            }

            @media (max-width: 1080px) {
                background: none;
                background-color: var(--lemon);
                border: none;

                .text-container {
                    padding: 0;

                    p {
                        font-size: 30px;
                    }
                }
            }
        }

        .block-numeric {
            right: 100px;
            top: 100px;

            span {
                font-size: 120px;
                color: var(--red);
                font-family: $russo_font;
            }
        }
    }
}

.services-box {
    padding: 150px 0 0;
    position: relative;
    z-index: 10;
    height: 100%;

    .content-el {
        position: relative;
        z-index: 10;
        width: 100%;
        display: flex;
        justify-content: end;

        .slide-head {
            position: absolute;
            z-index: 1;
            font-size: 100px;
            font-family: $impact_font;
            color: white;
            left: 20%;
            opacity: .2;
            top: -150px;

            .service-title {
                transition: transform 0.5s ease, opacity 0.5s ease;
                transform: translateX(0);
                opacity: 1;
            }
        }

        .element {
            width: 100%;
            position: relative;
            z-index: 100;

            .block-content {
                width: 100%;
                display: flex;
                justify-content: end;

                .container {
                    position: relative;
                    z-index: 10;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    height: fit-content;
                    min-height: 600px;
                    padding: 100px 150px;
                    max-width: 1400px;
                    align-items: center;

                    justify-content: center;
                    background: linear-gradient(135deg, transparent 150px, var(--white) 0);

                    .slider-footer {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        max-width: 800px;
                    }

                    .slider-items {
                        width: 100%;
                        display: flex;
                        transition: all 0.8s ease-in;
                        transform-origin: center;
                        max-width: 800px;

                        .content-slide {
                            width: 100%;
                            transition: all .2s ease-in .5s;

                            .box-item-slide {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                .text-content {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;

                                    h1 {
                                        font-family: $impact_font;
                                        margin: 0;
                                    }

                                    p {
                                        font-size: 24px;
                                        font-family: $lato_font;
                                        width: 100%;
                                        max-width: 445px;
                                        padding: 50px 0;
                                    }
                                }
                            }

                            opacity: 0;

                            &.active {
                                opacity: 1;
                            }
                        }
                    }

                    .slider-items {
                        display: flex;
                        width: 100%;
                        position: relative;
                    }

                    .content-slide {
                        min-width: 100%;
                        transition: transform 0.1s ease-in;
                    }

                    @media (max-width: 1080px) {
                        background: none;
                        background-color: var(--white);
                        padding: 100px 15px;
                    }
                }
            }
        }

        .block-numeric {
            left: 100px;
            top: 0;

            background:
                conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g2)) 0 0 / var(--_p),
                conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g2)) 100% 0 / var(--_p),
                conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g2)) 0 100% / var(--_p),
                conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g2)) 100% 100% / var(--_p);

            span {
                font-size: 120px;
                color: var(--white);
                font-family: $russo_font;
                stroke: var(--gray);
                -webkit-text-stroke: 2px #000;
                /* Толщина и цвет обводки */
                text-stroke: 2px #000;
            }
        }
    }

    @media (max-width: 1080px) {
        padding: 0;
    }
}

.perpectives-box {
    padding: 200px var(--var-horizontal-padding);
    position: relative;
    z-index: 10;
    height: fit-content;

    .content-el {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px 50px;

        @media (max-width: 1400px) {
            flex-direction: column;

            @media (max-width: 785px) {
                gap: 40px 0;
            }
        }

        .element {
            position: relative;
            width: 100%;
            max-width: 1348px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media (max-width: 1400px) {
                flex-direction: column;
                justify-content: start;
                align-items: end;

                @media (max-width: 785px) {
                    align-items: center;
                    justify-content: center;
                    align-content: center;
                }
            }

            .text-container {
                z-index: 10;
                width: 100%;
                position: relative;
                z-index: 15;

                span {
                    font-size: 20px;
                    font-family: $lato_font;
                    color: var(--red-light);
                }

                p {
                    font-size: 32px;
                    font-family: $impact_font;
                    margin: 15px 0;
                    width: 100%;
                    max-width: 752px;
                }
            }

            .objects {
                display: flex;
                flex-wrap: wrap;
                gap: 50px;

                .object {
                    span {
                        font-size: 120px;
                        font-family: $russo_font;
                        color: var(--red);
                        height: 100px;

                        @media (max-width: 785px) {
                            font-size: 40px;

                            @media (max-width: 500px) {
                                font-size: 30px;
                            }
                        }
                    }

                    &:nth-child(1) {
                        span {
                            &::after {
                                content: '%';
                            }
                        }
                    }

                    &:nth-child(2) {
                        span {
                            &::after {
                                content: '+';
                            }
                        }
                    }

                    p {
                        margin: 0;
                        font-size: 18px;
                        font-family: $lato_font;

                        @media (max-width: 500px) {
                            width: min-content;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1080px) {
        padding: 100px var(--var-horizontal-padding);
    }
}

.stack-box {
    position: relative;
    z-index: 10;
    height: 100%;

    .content-el {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: end;
        flex-direction: column;
        align-items: end;

        .element {
            position: relative;
            z-index: 100;
            width: 100%;
            max-width: 1448px;
            background-color: var(--white);
            padding: 100px var(--var-horizontal-padding);
            height: fit-content;
            min-height: 590px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background:
                linear-gradient(135deg, transparent 150px, var(--white) 0);

            .block-content {
                position: relative;
                z-index: 10;
                width: 100%;
                height: 100%;

                .container {
                    z-index: 10;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 50px;

                    .text-container {
                        width: fit-content;
                        margin: 0 auto;

                        h1 {
                            margin: 0;
                        }
                    }

                    .objects {
                        display: flex;
                        justify-content: center;
                        gap: 50px 25px;

                        .object {
                            display: flex;
                            gap: 30px;
                            padding: 15px;

                            .icon {
                                width: 100%;
                                max-width: 196px;

                                svg {
                                    width: 100%;
                                    height: auto;
                                }
                            }

                            .text {
                                h1 {
                                    font-family: $russo_font;
                                    font-size: 45px;
                                    line-height: 100%;

                                    &.laravel-stack {
                                        color: #F04A4C;
                                    }

                                    &.vue-stack {
                                        color: #41B883;
                                    }
                                }

                                p {
                                    font-family: $lato_font;
                                    font-size: 24px;
                                    margin: 0;
                                    padding: 25px 0;
                                }
                            }
                        }

                        @media (max-width: 1080px) {
                            flex-direction: column;
                        }
                    }
                }
            }

            @media (max-width: 1080px) {
                background: none;
                background-color: var(--white);
            }
        }

        .block-numeric {
            top: 100px;
            left: 100px;

            span {
                font-size: 120px;
                color: var(--red);
                font-family: $russo_font;
            }
        }
    }
}

.clients-box {
    position: relative;
    z-index: 10;
    height: 100%;

    .content-el {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: end;
        flex-direction: column;
        align-items: start;
        padding: 0 0 !important;

        .element {
            position: relative;
            z-index: 100;
            width: 100%;
            max-width: 1500px;
            background-color: var(--white);
            padding: 0;
            height: fit-content;
            background:
                linear-gradient(-135deg, transparent 150px, var(--white) 0);

            .block-content {
                position: relative;
                z-index: 10;
                width: 100%;
                height: 100%;

                .container {
                    z-index: 10;
                    width: 100%;
                    gap: 50px;

                    .text-container {
                        width: fit-content;
                        position: relative;

                        h1 {
                            font-family: $impact_font;
                            margin: 0;
                            z-index: 50;
                            position: relative;
                            padding: 0 25px;
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            z-index: 1;
                            width: 90%;
                            height: 180px;
                            left: 0;
                            top: -90%;
                            background: linear-gradient(-135deg, transparent 50px, var(--lemon) 0);
                        }
                    }

                    .content-element-container {
                        width: 100%;
                        padding: 0;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;

                        .objects {
                            width: 100%;
                            display: flex;
                            overflow: hidden;

                            .object {
                                width: 100%;
                                display: flex;
                                gap: 50px;
                                align-items: stretch;

                                .sw-client {
                                    width: 100%;
                                    max-width: 800px;
                                    margin: 0 auto;

                                    .positions-banner {
                                        width: 100%;
                                        aspect-ratio: 1 / 1;
                                        transform:
                                            rotateX(48deg) rotateZ(-35deg);
                                        overflow: hidden;

                                        .images {
                                            width: 100%;
                                            height: 100%;
                                            display: flex;
                                            align-items: start;

                                            img {
                                                width: auto;
                                                height: 90%;
                                                object-fit: cover;
                                                cursor: pointer;
                                                border-radius: 25px;

                                                &.active {
                                                    display: block;
                                                }

                                                transition: all .2s ease-in;

                                                &:hover {
                                                    transform: translate3d(0px, -16px, 0px);
                                                    border: 1px solid var(--gray);
                                                }
                                            }
                                        }
                                    }
                                }

                                .information {
                                    position: relative;
                                    z-index: 100;
                                    flex: 1;
                                    padding: var(--var-vertical-padding) var(--var-horizontal-padding);
                                    align-self: center;
                                    background-color: rgb(#ffffff, .7);
                                    display: flex;
                                    flex-direction: column;

                                    .key-list {
                                        padding: 0;

                                        .items-key {
                                            justify-content: start;
                                            padding: 25px 0;
                                        }
                                    }

                                    .footer-block-slide {
                                        align-self: flex-end;
                                    }
                                }

                                @media (max-width: 1280px) {
                                    flex-direction: column;

                                    .sw-client {
                                        max-width: unset;
                                        z-index: 1;
                                        height: 500px;

                                        @media (max-width: 800px) {
                                            height: auto;
                                        }

                                        .positions-banner {
                                            aspect-ratio: 1 / 1;
                                            transform:
                                                rotateX(0deg) rotateZ(-40deg) scale(1.4);
                                        }
                                    }

                                    .information {
                                        position: absolute;
                                        height: fit-content;
                                        width: 100%;
                                        max-width: unset;
                                        bottom: 0;
                                        overflow: hidden;
                                    }
                                }
                            }

                            .object {
                                display: none;

                                &.active {
                                    display: flex;
                                }
                            }
                        }
                    }
                }
            }
        }

        .element-texty {
            width: 100%;
            max-width: 1500px;
            background-color: var(--black);
            padding: 30px 0;
            color: var(--white);
        }

        @media (max-width: 1080px) {
            background: none;
            background-color: var(--white);
            padding: 100px 15px;
        }
    }

    .block-numeric {
        top: 100px;
        right: 100px;

        background:
            conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g2)) 0 0 / var(--_p),
            conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g2)) 100% 0 / var(--_p),
            conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g2)) 0 100% / var(--_p),
            conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g2)) 100% 100% / var(--_p);

        span {
            font-size: 120px;
            color: var(--white);
            font-family: $russo_font;
        }
    }
}

.reviews-box {
    position: relative;
    z-index: 10;
    height: 100%;

    .content-el {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: end;
        flex-direction: column;
        align-items: end;

        .element {
            position: relative;
            z-index: 100;
            width: 100%;
            max-width: 700px;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;

            @media (max-width: 1080px) {
                max-width: unset;
            }

            .block-content {
                position: relative;
                z-index: 10;
                width: 100%;
                height: 100%;

                .container {
                    z-index: 10;
                    width: 100%;

                    .content-element-container {
                        display: flex;
                        flex-direction: column;
                        gap: 32px;

                        .text-container {
                            width: fit-content;

                            h1 {
                                margin: 0;
                            }
                        }

                        .objects {
                            width: 100%;
                            max-width: 600px;
                            overflow: hidden;
                            align-items: stretch;
                            position: relative;

                            .object {
                                width: 100%;
                                padding: var(--var-vertical-padding) 50px;
                                background-color: var(--white);
                                display: flex;
                                flex-direction: column;
                                gap: 50px;
                                height: auto;
                                justify-content: space-between;

                                .head-point {
                                    .star {
                                        font-size: 40px;
                                        color: #229CA1;
                                        font-family: $impact_font;
                                        pointer-events: none;
                                        user-select: none;
                                    }
                                }

                                .text-content {
                                    width: 100%;

                                    p {
                                        font-size: 20px;
                                        font-family: $lato_font;
                                        line-height: 140%;
                                        padding: 25px 0;
                                    }
                                }

                                .author {
                                    width: fit-content;
                                    padding: 5px 15px;
                                    border-radius: 25px;
                                    background-color: #F9F9F9;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 7px;

                                    .avatar {
                                        width: 50px;
                                        height: 50px;
                                    }

                                    .name-author {
                                        width: fit-content;

                                        p {
                                            font-size: 20px;
                                            font-family: $russo_font;
                                            margin: 0;
                                        }
                                    }
                                }
                            }

                            .swiper-pagination {
                                width: 100%;
                                position: static;
                                padding: 15px 0;

                                .swiper-pagination-bullet {
                                    width: 40px;
                                    height: 5px;
                                    border-radius: 100px;
                                    background-color: rgb(#ffffff, .7);
                                    border: 1px solid var(--gray);

                                    &-active {
                                        background-color: #229CA1;
                                        border: none;
                                    }
                                }
                            }

                            @media (max-width: 1080px) {
                                max-width: unset;

                                .object {
                                    padding: 0;
                                }
                            }
                        }

                        .swiper-notification {
                            display: none;
                        }
                    }
                }
            }

            @media (max-width: 1080px) {
                background: none;
                background-color: var(--white);
                padding: var(--var-vertical-padding) var(--var-horizontal-padding);
            }
        }

        .block-numeric {
            top: 100px;
            left: 100px;

            span {
                font-size: 120px;
                color: var(--red);
                font-family: $russo_font;
            }
        }
    }
}

.parthner-box {
    position: relative;
    z-index: 10;
    height: 100%;

    @media (max-width: 1280px) {
        background-color: var(--background-page-color);
    }

    .content-el {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: start;

        .element {
            position: relative;
            z-index: 100;
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;

            @media (max-width: 1080px) {
                max-width: unset;
            }

            .block-content {
                position: relative;
                z-index: 10;
                width: 100%;
                height: 100%;

                .container {
                    z-index: 10;
                    width: 100%;

                    .content-element-container {
                        display: flex;
                        flex-direction: column;
                        gap: 32px;
                        padding: var(--var-vertical-padding) var(--var-horizontal-padding);

                        .text-container {
                            width: fit-content;
                            position: relative;

                            h1 {
                                margin: 0;
                                position: relative;
                                z-index: 10;
                            }

                            &:before {
                                content: '';
                                position: absolute;
                                z-index: 1;
                                width: 100%;
                                height: 120%;
                                left: -50px;
                                top: 30%;
                                background: linear-gradient(-135deg, transparent 50px, var(--lemon) 0);
                            }
                        }

                        .items-content-container {
                            display: flex;
                            justify-content: space-between;
                            gap: 50px 100px;

                            .banner-p {
                                width: 100%;
                                max-width: 659px;
                                display: flex;
                                flex-direction: column;
                                grid-gap: 20px;

                                .photo {
                                    width: 100%;
                                    aspect-ratio: 1 / 1;
                                    position: relative;
                                    overflow: hidden;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }

                                .name {
                                    width: 100%;

                                    p {
                                        margin: 0;
                                        font-size: 18px;
                                        font-family: $lato_font;
                                    }
                                }
                            }

                            .item-p {
                                width: fit-content;
                                align-self: flex-end;
                                display: flex;
                                flex-direction: column;
                                gap: 50px;

                                .text {
                                    width: 100%;

                                    p {
                                        font-size: 30px;
                                        color: var(--black);
                                        font-family: $lato_font;
                                        margin: 0;
                                    }
                                }
                            }

                            @media (max-width: 800px) {
                                flex-direction: column;

                                .banner-p {
                                    max-width: unset;
                                }
                            }
                        }
                    }
                }
            }
        }

        .block-numeric {
            top: 50px;
            right: 100px;
            z-index: 2;

            span {
                font-size: 120px;
                color: var(--red);
                font-family: $russo_font;
                position: relative;
                z-index: 2;
                background:
                    conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 / var(--_p),
                    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 / var(--_p),
                    conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% / var(--_p),
                    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);

                /*Irrelevant code*/
                width: 200px;
                height: 200px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            &:before {
                content: '';
                position: absolute;
                z-index: 0;
                width: 400%;
                height: 200%;

                background: linear-gradient(135deg, transparent 240px, var(--lemon) 0);
                @media (max-width: 1280px) {
                    display: none;
                }
            }
        }
    }
}

.news-box {
    position: relative;
    z-index: 10;
    height: 100%;

    .content-el {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: start;

        .element {
            position: relative;
            z-index: 100;
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;

            .block-content {
                position: relative;
                z-index: 10;
                width: 100%;
                height: 100%;

                .container {
                    z-index: 10;
                    width: 100%;

                    .content-element-container {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 60px;
                        padding: var(--var-vertical-padding) var(--var-horizontal-padding);
                        background-color: var(--white);
                        .text-container {
                            width: fit-content;

                            h1 {
                                margin: 0;
                            }
                        }

                        .objects{
                            width: 100%;
                            .news-elements{
                                width: 100%;
                                align-items: stretch;
                                .object{
                                    width: 100%;
                                    max-width: 428px;
                                    min-width: 320px;
                                    height: auto;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 24px;
                                    cursor: pointer;
                                    outline: none;
                                    -webkit-tap-highlight-color: transparent;
                                    .banner{
                                        width: 100%;
                                        aspect-ratio: 1.4 / 1;
                                        transition: all .2s ease-in;
                                        position: relative;
                                        overflow: hidden;
                                        img{
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                            transition: all .2s ease-in;
                                        }
                                    }
                                    .text-content{
                                        width: 100%;
                                        time{
                                            font-size: 16px;
                                            font-family: $lato_font;
                                            color: var(--black);
                                            opacity: .5;
                                        }
                                        p{
                                            width: 100%;
                                            margin: 0;
                                            font-size: 18px;
                                            font-family: $lato_font;
                                            color: #1F1F1F;
                                            line-height: 140%;
                                            padding: 16px 0 0;
                                            transition: all .2s ease-in;
                                        }
                                    }
                                    &:hover{
                                        .banner{
                                            filter: grayscale(100%);
                                            img{
                                                transform: rotateX(38deg) rotateZ(-30deg) scale(1.7);
                                            }
                                        }
                                        .text-content{
                                            p{
                                                color: var(--red);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.faq-box {
    position: relative;
    z-index: 10;
    height: 100%;

    .content-el {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: start;

        .element {
            position: relative;
            z-index: 100;
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            padding: var(--var-vertical-padding) var(--var-horizontal-padding);
            @media (max-width: 1280px) {
                background-color: var(--background-page-color);
            }
            .block-content {
                position: relative;
                z-index: 10;
                width: 100%;
                height: 100%;

                .container {
                    z-index: 10;
                    width: 100%;

                    .content-element-container {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 60px;
                        .text-container {
                            width: fit-content;

                            h1 {
                                margin: 0;
                            }
                        }

                        .objects{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                            max-width: 974px;
                            .object{
                                width: 100%;
                                padding: 16px;
                                height: fit-content;
                                background-color: var(--white);
                                transition: all .2s ease-in;
                                display: flex;
                                flex-direction: column;
                                gap: 16px;
                                cursor: pointer;
                                transform: translateX(-50%);
                                .head{
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    p{
                                        font-size: 24px;
                                        font-family: $lato_font;
                                        color: var(--black);
                                    }
                                    .control-elem{
                                        width: 20px;
                                        height: 20px;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        position: relative;
                                        span{
                                            width: 100%;
                                            height: 1px;
                                            position: absolute;
                                            transition: all .2s ease-in;
                                            transform-origin: center;
                                            background-color: #1F1F1F;
                                            &:nth-child(2){
                                                transform: rotate(90deg);
                                            }
                                        }
                                    }
                                }
                                .text{
                                    display: none;
                                    transition: all .2s ease-in;
                                    font-size: 18px;
                                    font-family: $lato_font;
                                    color: var(--black);
                                    opacity: .7;
                                }
                                &.active{
                                    .head{
                                        .control-elem{
                                            span{
                                                &:nth-child(2){
                                                    transform: rotate(0);
                                                }
                                            }
                                        }
                                    }
                                    .text{
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.over_screen_bar-content{
    width: 100%;
    overflow: hidden;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.section-content{
    
}