@charset "UTF-8";
@font-face {
  font-family: "f_impact";
  src: url("/fonts/impact.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "f_lato";
  src: url("/fonts/Sansation-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "f_russo";
  src: url("/fonts/RussoOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
:root {
  --alabaster: #fafafa;
  --alto: #dddddd;
  --black: #000000;
  --east-bay: #423b6f;
  --chateau-green: #34a853;
  --cinnabar: #e94235;
  --cornflower-blue: #4285f4;
  --charm: #cf6287;
  --dove-gray: #666666;
  --gold: #ffd400;
  --gray: #808080;
  --green-waterloo-6: #1b1f0a0f;
  --hibiscus: #c23c69;
  --martinique: #2e294e;
  --mercury: #e6e6e6;
  --mine-shaft: #232323;
  --minsk: #393193;
  --pale-sky: #6c757d;
  --royal-blue: #1a73e8;
  --scorpion: #5b5b5b;
  --selective-yellow: #fabb05;
  --silver: #c7c7c7;
  --westar: #e5e3df;
  --white: #ffffff;
  --white-80: #ffffffcc;
  --white-buttery-white: #ffffff;
  --wild-sand: #f5f5f5;
  --violet: #07040B;
  --lemon: #D8FA00;
  --red: #C53630;
  --red-light: #C4352F;
  --background-page-color: #EFEFEF;
  --b: 7px;
  --w: 40px;
  /* space for the border */
  --_g: #0000 90deg, var(--black) 0;
  --_g2: #0000 90deg, var(--red) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  --var-horizontal-padding: 100px;
  --var-vertical-padding: 50px;
}
@media (max-width: 1080px) {
  :root {
    --var-horizontal-padding: 15px;
  }
}

.header-box {
  padding: 100px 15px 300px;
  position: relative;
  z-index: 10;
  height: calc(100vh - 100px);
  max-height: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1080px) {
  .header-box {
    padding-bottom: 0;
    height: auto;
  }
}
.header-box .header-elements {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
.header-box .header-elements .element {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-box .header-elements .element .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header-box .header-elements .element .title .box-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-box .header-elements .element .title .box-c span {
  font-size: clamp(24px, 5vw, 110px);
  font-family: "f_impact";
  text-transform: uppercase;
}
.header-box .header-elements .element .title .box-c .logo-title {
  width: 7vw;
  max-width: 150px;
}
.header-box .header-elements .element .title .box-c .logo-title img {
  width: 100%;
  height: auto;
}
@media (max-width: 800px) {
  .header-box .header-elements .element .title .box-c {
    flex-direction: column;
  }
  .header-box .header-elements .element .title .box-c span {
    font-size: 40px;
  }
  .header-box .header-elements .element .title .box-c .logo-title {
    width: 20vw;
    height: 20vw;
  }
}
.header-box .header-footer {
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: -200px;
}
.header-box .header-footer img {
  width: 100%;
  height: auto;
}

.box-container-column {
  width: 100%;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  position: relative;
  z-index: 100;
  max-width: 1920px;
  margin: 0 auto;
  padding: 200px 0 0;
}
.box-container-column.reverse {
  background: url("/storage/source/background/fill-black-short.9c5f6aa.svg") no-repeat;
  overflow: hidden;
}
.box-container-column.no-reverse {
  background: url("/storage/source/background/fill-black-short.9c5f6aa-reverse.svg") no-repeat;
  overflow: hidden;
}

.gap-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 300px;
}
@media (max-width: 1080px) {
  .gap-position {
    gap: 100px;
  }
}

.about-box {
  position: relative;
  z-index: 10;
  height: 100%;
}
.about-box .content-el {
  position: relative;
  z-index: 10;
}
.about-box .content-el .element {
  position: relative;
  z-index: 100;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  min-height: 400px;
  overflow: hidden;
  padding: var(--var-vertical-padding) var(--var-horizontal-padding);
  max-width: 1300px;
  background: linear-gradient(225deg, transparent 150px, var(--lemon) 0);
}
.about-box .content-el .element .text-container {
  width: 100%;
  position: relative;
  z-index: 15;
  max-width: 1000px;
  padding: 25px;
}
.about-box .content-el .element .text-container p {
  font-size: 48px;
  font-family: "f_impact";
}
@media (max-width: 1080px) {
  .about-box .content-el .element {
    background: none;
    background-color: var(--lemon);
    border: none;
  }
  .about-box .content-el .element .text-container {
    padding: 0;
  }
  .about-box .content-el .element .text-container p {
    font-size: 30px;
  }
}
.about-box .content-el .block-numeric {
  right: 100px;
  top: 100px;
}
.about-box .content-el .block-numeric span {
  font-size: 120px;
  color: var(--red);
  font-family: "f_russo";
}

.services-box {
  padding: 150px 0 0;
  position: relative;
  z-index: 10;
  height: 100%;
}
.services-box .content-el {
  position: relative;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: end;
}
.services-box .content-el .slide-head {
  position: absolute;
  z-index: 1;
  font-size: 100px;
  font-family: "f_impact";
  color: white;
  left: 20%;
  opacity: 0.2;
  top: -150px;
}
.services-box .content-el .slide-head .service-title {
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateX(0);
  opacity: 1;
}
.services-box .content-el .element {
  width: 100%;
  position: relative;
  z-index: 100;
}
.services-box .content-el .element .block-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: end;
}
.services-box .content-el .element .block-content .container {
  position: relative;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  min-height: 600px;
  padding: 100px 150px;
  max-width: 1400px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, transparent 150px, var(--white) 0);
}
.services-box .content-el .element .block-content .container .slider-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}
.services-box .content-el .element .block-content .container .slider-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: all 0.8s ease-in;
  transform-origin: center;
  max-width: 800px;
}
.services-box .content-el .element .block-content .container .slider-items .content-slide {
  width: 100%;
  transition: all 0.2s ease-in 0.5s;
  opacity: 0;
}
.services-box .content-el .element .block-content .container .slider-items .content-slide .box-item-slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-box .content-el .element .block-content .container .slider-items .content-slide .box-item-slide .text-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.services-box .content-el .element .block-content .container .slider-items .content-slide .box-item-slide .text-content h1 {
  font-family: "f_impact";
  margin: 0;
}
.services-box .content-el .element .block-content .container .slider-items .content-slide .box-item-slide .text-content p {
  font-size: 24px;
  font-family: "f_lato";
  width: 100%;
  max-width: 445px;
  padding: 50px 0;
}
.services-box .content-el .element .block-content .container .slider-items .content-slide.active {
  opacity: 1;
}
.services-box .content-el .element .block-content .container .slider-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}
.services-box .content-el .element .block-content .container .content-slide {
  min-width: 100%;
  transition: transform 0.1s ease-in;
}
@media (max-width: 1080px) {
  .services-box .content-el .element .block-content .container {
    background: none;
    background-color: var(--white);
    padding: 100px 15px;
  }
}
.services-box .content-el .block-numeric {
  left: 100px;
  top: 0;
  background: conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g2)) 0 0/var(--_p), conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g2)) 100% 0/var(--_p), conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g2)) 0 100%/var(--_p), conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g2)) 100% 100%/var(--_p);
}
.services-box .content-el .block-numeric span {
  font-size: 120px;
  color: var(--white);
  font-family: "f_russo";
  stroke: var(--gray);
  -webkit-text-stroke: 2px #000;
  /* Толщина и цвет обводки */
  text-stroke: 2px #000;
}
@media (max-width: 1080px) {
  .services-box {
    padding: 0;
  }
}

.perpectives-box {
  padding: 200px var(--var-horizontal-padding);
  position: relative;
  z-index: 10;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
}
.perpectives-box .content-el {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px 50px;
}
@media (max-width: 1400px) {
  .perpectives-box .content-el {
    flex-direction: column;
  }
}
@media (max-width: 1400px) and (max-width: 785px) {
  .perpectives-box .content-el {
    gap: 40px 0;
  }
}
.perpectives-box .content-el .element {
  position: relative;
  width: 100%;
  max-width: 1348px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1400px) {
  .perpectives-box .content-el .element {
    flex-direction: column;
    justify-content: start;
    align-items: end;
  }
}
@media (max-width: 1400px) and (max-width: 785px) {
  .perpectives-box .content-el .element {
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}
.perpectives-box .content-el .element .text-container {
  width: 100%;
  position: relative;
  z-index: 15;
}
.perpectives-box .content-el .element .text-container span {
  font-size: 20px;
  font-family: "f_lato";
  color: var(--red-light);
}
.perpectives-box .content-el .element .text-container p {
  font-size: 32px;
  font-family: "f_impact";
  margin: 15px 0;
  width: 100%;
  max-width: 752px;
}
.perpectives-box .content-el .element .objects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.perpectives-box .content-el .element .objects .object span {
  font-size: 120px;
  font-family: "f_russo";
  color: var(--red);
  height: 100px;
}
@media (max-width: 785px) {
  .perpectives-box .content-el .element .objects .object span {
    font-size: 40px;
  }
}
@media (max-width: 785px) and (max-width: 500px) {
  .perpectives-box .content-el .element .objects .object span {
    font-size: 30px;
  }
}
.perpectives-box .content-el .element .objects .object:nth-child(1) span::after {
  content: "%";
}
.perpectives-box .content-el .element .objects .object:nth-child(2) span::after {
  content: "+";
}
.perpectives-box .content-el .element .objects .object p {
  margin: 0;
  font-size: 18px;
  font-family: "f_lato";
}
@media (max-width: 500px) {
  .perpectives-box .content-el .element .objects .object p {
    width: -moz-min-content;
    width: -webkit-min-content;
    width: min-content;
    font-size: 14px;
  }
}
@media (max-width: 1080px) {
  .perpectives-box {
    padding: 100px var(--var-horizontal-padding);
  }
}

.stack-box {
  position: relative;
  z-index: 10;
  height: 100%;
}
.stack-box .content-el {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: end;
}
.stack-box .content-el .element {
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 1448px;
  background-color: var(--white);
  padding: 100px var(--var-horizontal-padding);
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  min-height: 590px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, transparent 150px, var(--white) 0);
}
.stack-box .content-el .element .block-content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.stack-box .content-el .element .block-content .container {
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.stack-box .content-el .element .block-content .container .text-container {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.stack-box .content-el .element .block-content .container .text-container h1 {
  margin: 0;
}
.stack-box .content-el .element .block-content .container .objects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  gap: 50px 25px;
}
.stack-box .content-el .element .block-content .container .objects .object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 15px;
}
.stack-box .content-el .element .block-content .container .objects .object .icon {
  width: 100%;
  max-width: 196px;
}
.stack-box .content-el .element .block-content .container .objects .object .icon svg {
  width: 100%;
  height: auto;
}
.stack-box .content-el .element .block-content .container .objects .object .text h1 {
  font-family: "f_russo";
  font-size: 45px;
  line-height: 100%;
}
.stack-box .content-el .element .block-content .container .objects .object .text h1.laravel-stack {
  color: #F04A4C;
}
.stack-box .content-el .element .block-content .container .objects .object .text h1.vue-stack {
  color: #41B883;
}
.stack-box .content-el .element .block-content .container .objects .object .text p {
  font-family: "f_lato";
  font-size: 24px;
  margin: 0;
  padding: 25px 0;
}
@media (max-width: 1080px) {
  .stack-box .content-el .element .block-content .container .objects {
    flex-direction: column;
  }
  .stack-box .content-el .element {
    background: none;
    background-color: var(--white);
  }
}
.stack-box .content-el .block-numeric {
  top: 100px;
  left: 100px;
}
.stack-box .content-el .block-numeric span {
  font-size: 120px;
  color: var(--red);
  font-family: "f_russo";
}

.clients-box {
  position: relative;
  z-index: 10;
  height: 100%;
}
.clients-box .content-el {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: start;
  padding: 0 0 !important;
}
.clients-box .content-el .element {
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 1500px;
  background-color: var(--white);
  padding: 0;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  background: linear-gradient(-135deg, transparent 150px, var(--white) 0);
}
.clients-box .content-el .element .block-content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.clients-box .content-el .element .block-content .container {
  z-index: 10;
  width: 100%;
  gap: 50px;
}
.clients-box .content-el .element .block-content .container .text-container {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  position: relative;
}
.clients-box .content-el .element .block-content .container .text-container h1 {
  font-family: "f_impact";
  margin: 0;
  z-index: 50;
  position: relative;
  padding: 0 25px;
}
.clients-box .content-el .element .block-content .container .text-container:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 90%;
  height: 180px;
  left: 0;
  top: -90%;
  background: linear-gradient(-135deg, transparent 50px, var(--lemon) 0);
}
.clients-box .content-el .element .block-content .container .content-element-container {
  width: 100%;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.clients-box .content-el .element .block-content .container .content-element-container .objects {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.clients-box .content-el .element .block-content .container .content-element-container .objects .object {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  align-items: stretch;
}
.clients-box .content-el .element .block-content .container .content-element-container .objects .object .sw-client {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.clients-box .content-el .element .block-content .container .content-element-container .objects .object .sw-client .positions-banner {
  width: 100%;
  aspect-ratio: 1/1;
  transform: rotateX(48deg) rotateZ(-35deg);
  overflow: hidden;
}
.clients-box .content-el .element .block-content .container .content-element-container .objects .object .sw-client .positions-banner .images {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: start;
}
.clients-box .content-el .element .block-content .container .content-element-container .objects .object .sw-client .positions-banner .images img {
  width: auto;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.2s ease-in;
}
.clients-box .content-el .element .block-content .container .content-element-container .objects .object .sw-client .positions-banner .images img.active {
  display: block;
}
.clients-box .content-el .element .block-content .container .content-element-container .objects .object .sw-client .positions-banner .images img:hover {
  transform: translate3d(0px, -16px, 0px);
  border: 1px solid var(--gray);
}
.clients-box .content-el .element .block-content .container .content-element-container .objects .object .information {
  position: relative;
  z-index: 100;
  flex: 1;
  padding: var(--var-vertical-padding) var(--var-horizontal-padding);
  align-self: center;
  background-color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.clients-box .content-el .element .block-content .container .content-element-container .objects .object .information .key-list {
  padding: 0;
}
.clients-box .content-el .element .block-content .container .content-element-container .objects .object .information .key-list .items-key {
  justify-content: start;
  padding: 25px 0;
}
.clients-box .content-el .element .block-content .container .content-element-container .objects .object .information .footer-block-slide {
  align-self: flex-end;
}
@media (max-width: 1280px) {
  .clients-box .content-el .element .block-content .container .content-element-container .objects .object {
    flex-direction: column;
  }
  .clients-box .content-el .element .block-content .container .content-element-container .objects .object .sw-client {
    max-width: unset;
    z-index: 1;
    height: 500px;
  }
}
@media (max-width: 1280px) and (max-width: 800px) {
  .clients-box .content-el .element .block-content .container .content-element-container .objects .object .sw-client {
    height: auto;
  }
}
@media (max-width: 1280px) {
  .clients-box .content-el .element .block-content .container .content-element-container .objects .object .sw-client .positions-banner {
    aspect-ratio: 1/1;
    transform: rotateX(0deg) rotateZ(-40deg) scale(1.4);
  }
  .clients-box .content-el .element .block-content .container .content-element-container .objects .object .information {
    position: absolute;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    width: 100%;
    max-width: unset;
    bottom: 0;
    overflow: hidden;
  }
}
.clients-box .content-el .element .block-content .container .content-element-container .objects .object {
  display: none;
}
.clients-box .content-el .element .block-content .container .content-element-container .objects .object.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.clients-box .content-el .element-texty {
  width: 100%;
  max-width: 1500px;
  background-color: var(--black);
  padding: 30px 0;
  color: var(--white);
}
@media (max-width: 1080px) {
  .clients-box .content-el {
    background: none;
    background-color: var(--white);
    padding: 100px 15px;
  }
}
.clients-box .block-numeric {
  top: 100px;
  right: 100px;
  background: conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g2)) 0 0/var(--_p), conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g2)) 100% 0/var(--_p), conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g2)) 0 100%/var(--_p), conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g2)) 100% 100%/var(--_p);
}
.clients-box .block-numeric span {
  font-size: 120px;
  color: var(--white);
  font-family: "f_russo";
}

.reviews-box {
  position: relative;
  z-index: 10;
  height: 100%;
}
.reviews-box .content-el {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: end;
}
.reviews-box .content-el .element {
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 700px;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
@media (max-width: 1080px) {
  .reviews-box .content-el .element {
    max-width: unset;
  }
}
.reviews-box .content-el .element .block-content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.reviews-box .content-el .element .block-content .container {
  z-index: 10;
  width: 100%;
}
.reviews-box .content-el .element .block-content .container .content-element-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.reviews-box .content-el .element .block-content .container .content-element-container .text-container {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
.reviews-box .content-el .element .block-content .container .content-element-container .text-container h1 {
  margin: 0;
}
.reviews-box .content-el .element .block-content .container .content-element-container .objects {
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  align-items: stretch;
  position: relative;
}
.reviews-box .content-el .element .block-content .container .content-element-container .objects .object {
  width: 100%;
  padding: var(--var-vertical-padding) 50px;
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: auto;
  justify-content: space-between;
}
.reviews-box .content-el .element .block-content .container .content-element-container .objects .object .head-point .star {
  font-size: 40px;
  color: #229CA1;
  font-family: "f_impact";
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.reviews-box .content-el .element .block-content .container .content-element-container .objects .object .text-content {
  width: 100%;
}
.reviews-box .content-el .element .block-content .container .content-element-container .objects .object .text-content p {
  font-size: 20px;
  font-family: "f_lato";
  line-height: 140%;
  padding: 25px 0;
}
.reviews-box .content-el .element .block-content .container .content-element-container .objects .object .author {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 25px;
  background-color: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.reviews-box .content-el .element .block-content .container .content-element-container .objects .object .author .avatar {
  width: 50px;
  height: 50px;
}
.reviews-box .content-el .element .block-content .container .content-element-container .objects .object .author .name-author {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
.reviews-box .content-el .element .block-content .container .content-element-container .objects .object .author .name-author p {
  font-size: 20px;
  font-family: "f_russo";
  margin: 0;
}
.reviews-box .content-el .element .block-content .container .content-element-container .objects .swiper-pagination {
  width: 100%;
  position: static;
  padding: 15px 0;
}
.reviews-box .content-el .element .block-content .container .content-element-container .objects .swiper-pagination .swiper-pagination-bullet {
  width: 40px;
  height: 5px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid var(--gray);
}
.reviews-box .content-el .element .block-content .container .content-element-container .objects .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #229CA1;
  border: none;
}
@media (max-width: 1080px) {
  .reviews-box .content-el .element .block-content .container .content-element-container .objects {
    max-width: unset;
  }
  .reviews-box .content-el .element .block-content .container .content-element-container .objects .object {
    padding: 0;
  }
}
.reviews-box .content-el .element .block-content .container .content-element-container .swiper-notification {
  display: none;
}
@media (max-width: 1080px) {
  .reviews-box .content-el .element {
    background: none;
    background-color: var(--white);
    padding: var(--var-vertical-padding) var(--var-horizontal-padding);
  }
}
.reviews-box .content-el .block-numeric {
  top: 100px;
  left: 100px;
}
.reviews-box .content-el .block-numeric span {
  font-size: 120px;
  color: var(--red);
  font-family: "f_russo";
}

.parthner-box {
  position: relative;
  z-index: 10;
  height: 100%;
}
@media (max-width: 1280px) {
  .parthner-box {
    background-color: var(--background-page-color);
  }
}
.parthner-box .content-el {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
}
.parthner-box .content-el .element {
  position: relative;
  z-index: 100;
  width: 100%;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
@media (max-width: 1080px) {
  .parthner-box .content-el .element {
    max-width: unset;
  }
}
.parthner-box .content-el .element .block-content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.parthner-box .content-el .element .block-content .container {
  z-index: 10;
  width: 100%;
}
.parthner-box .content-el .element .block-content .container .content-element-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: var(--var-vertical-padding) var(--var-horizontal-padding);
}
.parthner-box .content-el .element .block-content .container .content-element-container .text-container {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  position: relative;
}
.parthner-box .content-el .element .block-content .container .content-element-container .text-container h1 {
  margin: 0;
  position: relative;
  z-index: 10;
}
.parthner-box .content-el .element .block-content .container .content-element-container .text-container:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 120%;
  left: -50px;
  top: 30%;
  background: linear-gradient(-135deg, transparent 50px, var(--lemon) 0);
}
.parthner-box .content-el .element .block-content .container .content-element-container .items-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  gap: 50px 100px;
}
.parthner-box .content-el .element .block-content .container .content-element-container .items-content-container .banner-p {
  width: 100%;
  max-width: 659px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.parthner-box .content-el .element .block-content .container .content-element-container .items-content-container .banner-p .photo {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
}
.parthner-box .content-el .element .block-content .container .content-element-container .items-content-container .banner-p .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.parthner-box .content-el .element .block-content .container .content-element-container .items-content-container .banner-p .name {
  width: 100%;
}
.parthner-box .content-el .element .block-content .container .content-element-container .items-content-container .banner-p .name p {
  margin: 0;
  font-size: 18px;
  font-family: "f_lato";
}
.parthner-box .content-el .element .block-content .container .content-element-container .items-content-container .item-p {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.parthner-box .content-el .element .block-content .container .content-element-container .items-content-container .item-p .text {
  width: 100%;
}
.parthner-box .content-el .element .block-content .container .content-element-container .items-content-container .item-p .text p {
  font-size: 30px;
  color: var(--black);
  font-family: "f_lato";
  margin: 0;
}
@media (max-width: 800px) {
  .parthner-box .content-el .element .block-content .container .content-element-container .items-content-container {
    flex-direction: column;
  }
  .parthner-box .content-el .element .block-content .container .content-element-container .items-content-container .banner-p {
    max-width: unset;
  }
}
.parthner-box .content-el .block-numeric {
  top: 50px;
  right: 100px;
  z-index: 2;
}
.parthner-box .content-el .block-numeric span {
  font-size: 120px;
  color: var(--red);
  font-family: "f_russo";
  position: relative;
  z-index: 2;
  background: conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0/var(--_p), conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0/var(--_p), conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100%/var(--_p), conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100%/var(--_p);
  /*Irrelevant code*/
  width: 200px;
  height: 200px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.parthner-box .content-el .block-numeric:before {
  content: "";
  position: absolute;
  z-index: 0;
  width: 400%;
  height: 200%;
  background: linear-gradient(135deg, transparent 240px, var(--lemon) 0);
}
@media (max-width: 1280px) {
  .parthner-box .content-el .block-numeric:before {
    display: none;
  }
}

.news-box {
  position: relative;
  z-index: 10;
  height: 100%;
}
.news-box .content-el {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
}
.news-box .content-el .element {
  position: relative;
  z-index: 100;
  width: 100%;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.news-box .content-el .element .block-content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.news-box .content-el .element .block-content .container {
  z-index: 10;
  width: 100%;
}
.news-box .content-el .element .block-content .container .content-element-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: var(--var-vertical-padding) var(--var-horizontal-padding);
  background-color: var(--white);
}
.news-box .content-el .element .block-content .container .content-element-container .text-container {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
.news-box .content-el .element .block-content .container .content-element-container .text-container h1 {
  margin: 0;
}
.news-box .content-el .element .block-content .container .content-element-container .objects {
  width: 100%;
}
.news-box .content-el .element .block-content .container .content-element-container .objects .news-elements {
  width: 100%;
  align-items: stretch;
}
.news-box .content-el .element .block-content .container .content-element-container .objects .news-elements .object {
  width: 100%;
  max-width: 428px;
  min-width: 320px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 24px;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.news-box .content-el .element .block-content .container .content-element-container .objects .news-elements .object .banner {
  width: 100%;
  aspect-ratio: 1.4/1;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
}
.news-box .content-el .element .block-content .container .content-element-container .objects .news-elements .object .banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease-in;
}
.news-box .content-el .element .block-content .container .content-element-container .objects .news-elements .object .text-content {
  width: 100%;
}
.news-box .content-el .element .block-content .container .content-element-container .objects .news-elements .object .text-content time {
  font-size: 16px;
  font-family: "f_lato";
  color: var(--black);
  opacity: 0.5;
}
.news-box .content-el .element .block-content .container .content-element-container .objects .news-elements .object .text-content p {
  width: 100%;
  margin: 0;
  font-size: 18px;
  font-family: "f_lato";
  color: #1F1F1F;
  line-height: 140%;
  padding: 16px 0 0;
  transition: all 0.2s ease-in;
}
.news-box .content-el .element .block-content .container .content-element-container .objects .news-elements .object:hover .banner {
  filter: grayscale(100%);
}
.news-box .content-el .element .block-content .container .content-element-container .objects .news-elements .object:hover .banner img {
  transform: rotateX(38deg) rotateZ(-30deg) scale(1.7);
}
.news-box .content-el .element .block-content .container .content-element-container .objects .news-elements .object:hover .text-content p {
  color: var(--red);
}

.faq-box {
  position: relative;
  z-index: 10;
  height: 100%;
}
.faq-box .content-el {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
}
.faq-box .content-el .element {
  position: relative;
  z-index: 100;
  width: 100%;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: var(--var-vertical-padding) var(--var-horizontal-padding);
}
@media (max-width: 1280px) {
  .faq-box .content-el .element {
    background-color: var(--background-page-color);
  }
}
.faq-box .content-el .element .block-content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.faq-box .content-el .element .block-content .container {
  z-index: 10;
  width: 100%;
}
.faq-box .content-el .element .block-content .container .content-element-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.faq-box .content-el .element .block-content .container .content-element-container .text-container {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
.faq-box .content-el .element .block-content .container .content-element-container .text-container h1 {
  margin: 0;
}
.faq-box .content-el .element .block-content .container .content-element-container .objects {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 974px;
}
.faq-box .content-el .element .block-content .container .content-element-container .objects .object {
  width: 100%;
  padding: 16px;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  background-color: var(--white);
  transition: all 0.2s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
  transform: translateX(-50%);
}
.faq-box .content-el .element .block-content .container .content-element-container .objects .object .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq-box .content-el .element .block-content .container .content-element-container .objects .object .head p {
  font-size: 24px;
  font-family: "f_lato";
  color: var(--black);
}
.faq-box .content-el .element .block-content .container .content-element-container .objects .object .head .control-elem {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.faq-box .content-el .element .block-content .container .content-element-container .objects .object .head .control-elem span {
  width: 100%;
  height: 1px;
  position: absolute;
  transition: all 0.2s ease-in;
  transform-origin: center;
  background-color: #1F1F1F;
}
.faq-box .content-el .element .block-content .container .content-element-container .objects .object .head .control-elem span:nth-child(2) {
  transform: rotate(90deg);
}
.faq-box .content-el .element .block-content .container .content-element-container .objects .object .text {
  display: none;
  transition: all 0.2s ease-in;
  font-size: 18px;
  font-family: "f_lato";
  color: var(--black);
  opacity: 0.7;
}
.faq-box .content-el .element .block-content .container .content-element-container .objects .object.active .head .control-elem span:nth-child(2) {
  transform: rotate(0);
}
.faq-box .content-el .element .block-content .container .content-element-container .objects .object.active .text {
  display: block;
}

.over_screen_bar-content {
  width: 100%;
  overflow: hidden;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
