@font-face {
  font-family: "f_impact";
  src: url("/fonts/impact.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "f_lato";
  src: url("/fonts/Sansation-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "f_russo";
  src: url("/fonts/RussoOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
:root {
  --alabaster: #fafafa;
  --alto: #dddddd;
  --black: #000000;
  --east-bay: #423b6f;
  --chateau-green: #34a853;
  --cinnabar: #e94235;
  --cornflower-blue: #4285f4;
  --charm: #cf6287;
  --dove-gray: #666666;
  --gold: #ffd400;
  --gray: #808080;
  --green-waterloo-6: #1b1f0a0f;
  --hibiscus: #c23c69;
  --martinique: #2e294e;
  --mercury: #e6e6e6;
  --mine-shaft: #232323;
  --minsk: #393193;
  --pale-sky: #6c757d;
  --royal-blue: #1a73e8;
  --scorpion: #5b5b5b;
  --selective-yellow: #fabb05;
  --silver: #c7c7c7;
  --westar: #e5e3df;
  --white: #ffffff;
  --white-80: #ffffffcc;
  --white-buttery-white: #ffffff;
  --wild-sand: #f5f5f5;
  --violet: #07040B;
  --lemon: #D8FA00;
  --red: #C53630;
  --red-light: #C4352F;
  --background-page-color: #EFEFEF;
  --b: 7px;
  --w: 40px;
  /* space for the border */
  --_g: #0000 90deg, var(--black) 0;
  --_g2: #0000 90deg, var(--red) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  --var-horizontal-padding: 100px;
  --var-vertical-padding: 50px;
}
@media (max-width: 1080px) {
  :root {
    --var-horizontal-padding: 15px;
  }
}

.btn {
  padding: 14px 16px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.btn span, .btn::after {
  position: relative;
  z-index: 2;
}

.btn-style-first {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: 2px solid var(--lemon);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.btn-style-first span {
  color: var(--black);
  font-family: "f_impact";
  font-size: 18px;
}
.btn-style-first::after {
  content: "";
  background: url("/storage/source/logo/btn-logo.svg");
  background-size: 26px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
}
.btn-style-first::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -35px;
  background-color: var(--lemon);
  width: calc(100% + 50px);
  height: calc(100% + 100px);
  transform: rotate(-25deg);
  transition: all 0.2s ease-in;
  z-index: 1;
}
.btn-style-first:hover span {
  color: var(--lemon);
}
.btn-style-first:hover::before {
  transform: translateX(100%);
}

.btn-style-black-type {
  background-color: var(--black);
  display: flex;
  align-items: center;
  gap: 16px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.2s ease-in;
}
.btn-style-black-type span {
  color: var(--white);
  font-family: "f_impact";
  font-size: 24px;
}
.btn-style-black-type::after {
  content: "";
  background: url("/storage/source/logo/btn-yellow.svg");
  background-size: 26px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
}
.btn-style-black-type:hover {
  background-color: var(--red);
}

.btn-style-type-2 {
  background-color: var(--lemon);
  display: flex;
  align-items: center;
  gap: 16px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.2s ease-in;
}
.btn-style-type-2 span {
  color: var(--black);
  font-family: "f_impact";
  font-size: 24px;
}
.btn-style-type-2::after {
  content: "";
  background: url("/storage/source/logo/btn-logo.svg") no-repeat;
  background-size: 26px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
}
.btn-style-type-2:hover {
  background-color: var(--red);
}
.btn-style-type-2:hover span {
  color: var(--white);
}
.btn-style-type-2:hover::after {
  background: url("/storage/source/logo/btn-yellow.svg") no-repeat;
  background-size: 26px;
}
